Ciara is looking for employees for her new company, which develops and provides AI based logistic software for retailers. Ciara has determined that she needs:

2 Python Programmers, 2 AI Engineers, 1 Web Designer, 1 Database Admin, and 1 Systems Engineer.
Assume that if a person has two abilities, he or she can take on two roles in the company.

So Ciara narrowed down her selections to the following people:

- __Name & Abilities__
- Peter : Python and AI
- Juan : Web and AI
- Jim : AI and Systems
- Jane : Python and Database
- Mary : Web and Systems
- Bruce : Systems and Python
- Anita : Web and AI

### Scenario 1:

Suppose Ciara knows Python, and only has funds to hire __three__ more people.

### Constraint Satisfaction Problem (CSP)

A Constraint Satisfaction Problem (CSP) involves finding a solution that satisfies a number of constraints or conditions. It is widely used in fields like artificial intelligence for scheduling, assigning, and planning problems. CSPs typically involve variables, domains for each variable, and constraints that describe allowable combinations of values. The goal is to assign values to all variables in a way that doesn't violate any constraints (Russell & Norvig, 2010, Artificial Intelligence: A Modern Approach). This framework is particularly effective in scenarios like employee scheduling, where multiple conditions must be met simultaneously.

We treat this scenario as a CSP, a paradigm often used in artificial intelligence to solve problems where entities (in this case, employees) must be assigned without violating any constraints (here, the job role requirements). The solution must:

- Cover all required skills with the minimum number of hires.
- Allocate specific roles to each selected candidate.

### Code explanation

- _'itertools.combinations'_: This tool from the itertools module is used to generate all possible combinations of the candidates. It's crucial for exploring every potential team composition from the pool of candidates. (Python 3.12.1 documentation)

- _'variables_domain'_: A dictionary where keys are candidate names and values are sets of their skills. It represents the pool of potential hires.
- _'constraints'_: A dictionary outlining the number of each type of skill required. It's adjusted to account for Ciara's Python skill.
- _'get_all_valid_combinations'_: A function that iterates through all possible combinations of three candidates using itertools.combinations. It checks if a combination covers all roles by comparing the sum of their skills against roles_needed.
- _'valid_combinations'_: This is where the function stores each successful combination that meets the criteria, alongside the specific roles each person would fill.

In [1]:
from itertools import combinations
import pandas as pd
import seaborn as sns

# Defined variables and domain of the problem where variables = people, and domain = roles;
variables_domain = {
    "Peter": {"Python", "AI"},
    "Juan": {"Web", "AI"},
    "Jim": {"AI", "Systems"},
    "Jane": {"Python", "Database"},
    "Mary": {"Web", "Systems"},
    "Bruce": {"Systems", "Python"},
    "Anita": {"Web", "AI"}
}

# Defined roles that have to be occupied by people
constraints = {"Python": 1, "AI": 2, "Web": 1, "Database": 1, "Systems": 1}
# Adjusted role occupied for Ciara as she knows Python
constraints["Python"] -= 1  # Ciara covers one Python role

# Function to find all valid combinations of employees who can cover the required roles
def get_all_valid_combinations(variables_domain, constraints):
    valid_combinations = []

    # Iterate through all combinations of 3 people as each person will do two roles.
    for combo in combinations(variables_domain.keys(), 3):
        # Create a dictionary to hold the cumulative abilities of the combination
        combined_abilities = {}
        for person in combo:
            for ability in variables_domain[person]:
                combined_abilities[ability] = combined_abilities.get(ability, 0) + 1

        # Check if the combination covers all roles
        if all(combined_abilities.get(role, 0) >= count for role, count in constraints.items()):
            # If so, record the combination and what each person would do
            roles_for_combo = {person: variables_domain[person] & constraints.keys() for person in combo}
            valid_combinations.append((combo, roles_for_combo))

    return valid_combinations

# Get all valid combinations of people that can cover the needed roles
all_valid_combinations = get_all_valid_combinations(variables_domain, constraints)
all_valid_combinations

[(('Juan', 'Jim', 'Jane'),
  {'Juan': {'AI', 'Web'},
   'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'}}),
 (('Jim', 'Jane', 'Anita'),
  {'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Anita': {'AI', 'Web'}})]

In [2]:
flattened_data = []
for combo, roles in all_valid_combinations:
    row = {'Combination': combo}
    for person, abilities in roles.items():
        row[person] = ', '.join(abilities)
    flattened_data.append(row)

# Create a dataframe from the flattened data
df = pd.DataFrame(flattened_data)
df

          Combination     Juan          Jim              Jane    Anita
0   (Juan, Jim, Jane)  AI, Web  AI, Systems  Database, Python      NaN
1  (Jim, Jane, Anita)      NaN  AI, Systems  Database, Python  AI, Web

__Variables__: The variables are the people (Peter, Juan, Jim, Jane, Mary, Bruce, Anita). Each person represents a variable that needs to be assigned a role based on their abilities.

__Value Domains__: The domain of each variable (person) is their set of abilities. For example, the domain for Peter is {"Python", "AI"}.

__Constraints__:
- Each person can be assigned only to roles matching their abilities.
- The total number of people hired should be three (excluding Ciara).
- The required roles in the company (_'constraints'_) must all be filled. This includes 1 Python Programmer (after accounting - for Ciara's skill), 2 AI Engineers, 1 Web Designer, 1 Database Admin, and 1 Systems Engineer.

### Scenario 2:

Suppose Ciara and Juan become partners, with the additional funds they can now employ four more people but must employ another AI Engineer, so they need 2 Python Programmers, 3 AI Engineers, 1 Web Designer, 1 Database Admin, and 1 Systems Engineer.

In [12]:
# Defined variables and domain of the problem where variables = people, and domain = roles;
variables_domain_2= {
    "Peter": {"Python", "AI"},
    "Jim": {"AI", "Systems"},
    "Jane": {"Python", "Database"},
    "Mary": {"Web", "Systems"},
    "Bruce": {"Systems", "Python"},
    "Anita": {"Web", "AI"}
}

    # Update roles_needed for Scenario 2
constraints_2 = ({"Python": 2, "AI": 3, "Web": 1, "Database": 1, "Systems": 1})
    
constraints_2["Python"] -= 1  # Ciara covers one Python role
constraints_2["Web"] -= 1 # Juan
constraints_2["AI"] -= 1 # Juan


def get_scenario2_combinations(variables_domain_2, constraints_2):
    valid_combinations = []

    
    # Iterate through all combinations of 3 or 4 people
    for num_people in range(3, 5):  # for groups of 3 or 4 people
        for combo in combinations(variables_domain_2.keys(), num_people):
            combined_abilities = {}
            for person in combo:
                for ability in variables_domain_2[person]:
                    combined_abilities[ability] = combined_abilities.get(ability, 0) + 1

            # Check if the combination covers all roles needed
            if all(combined_abilities.get(role, 0) >= count for role, count in constraints_2.items()):
                roles_for_combo = {person: variables_domain_2[person] & constraints_2.keys() for person in combo}
                valid_combinations.append((combo, roles_for_combo))

    return valid_combinations

# Get all valid combinations of people that can cover the needed roles
scenario2_combinations = get_scenario2_combinations(variables_domain_2, constraints_2)
scenario2_combinations

[(('Peter', 'Jim', 'Jane'),
  {'Peter': {'AI', 'Python'},
   'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'}}),
 (('Jim', 'Jane', 'Anita'),
  {'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Anita': {'AI', 'Web'}}),
 (('Peter', 'Jim', 'Jane', 'Mary'),
  {'Peter': {'AI', 'Python'},
   'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Mary': {'Systems', 'Web'}}),
 (('Peter', 'Jim', 'Jane', 'Bruce'),
  {'Peter': {'AI', 'Python'},
   'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Bruce': {'Python', 'Systems'}}),
 (('Peter', 'Jim', 'Jane', 'Anita'),
  {'Peter': {'AI', 'Python'},
   'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Anita': {'AI', 'Web'}}),
 (('Peter', 'Jane', 'Mary', 'Anita'),
  {'Peter': {'AI', 'Python'},
   'Jane': {'Database', 'Python'},
   'Mary': {'Systems', 'Web'},
   'Anita': {'AI', 'Web'}}),
 (('Peter', 'Jane', 'Bruce', 'Anita'),
  {'Peter': {'AI', 'Python'},
   'Jane': {'Database', 'Python'},
   'Bruce': {'Python', 'Systems'},
   'Anita': {'AI', 'Web'}}),
 (('Jim', 'Jane', 'Mary', 'Anita'),
  {'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Mary': {'Systems', 'Web'},
   'Anita': {'AI', 'Web'}}),
 (('Jim', 'Jane', 'Bruce', 'Anita'),
  {'Jim': {'AI', 'Systems'},
   'Jane': {'Database', 'Python'},
   'Bruce': {'Python', 'Systems'},
   'Anita': {'AI', 'Web'}})]

In [5]:
flattened_data = []
for combo, roles in scenario2_combinations:
    row = {'Combination': combo}
    for person, abilities in roles.items():
        row[person] = ', '.join(abilities)
    flattened_data.append(row)

# Create a dataframe from the flattened data
df = pd.DataFrame(flattened_data)
df

,Combination,Peter,Jim,Jane,Juan,Anita,Mary,Bruce
0,"(Peter, Jim, Jane)","AI, Python","AI, Systems","Database, Python",NaN,NaN,NaN,NaN
1,"(Juan, Jim, Jane)",NaN,"AI, Systems","Database, Python","AI, Web",NaN,NaN,NaN
2,"(Jim, Jane, Anita)",NaN,"AI, Systems","Database, Python",NaN,"AI, Web",NaN,NaN
3,"(Peter, Juan, Jim, Jane)","AI, Python","AI, Systems","Database, Python","AI, Web",NaN,NaN,NaN
4,"(Peter, Juan, Jane, Mary)","AI, Python",NaN,"Database, Python","AI, Web",NaN,"Web, Systems",NaN
5,"(Peter, Juan, Jane, Bruce)","AI, Python",NaN,"Database, Python","AI, Web",NaN,NaN,"Systems, Python"
6,"(Peter, Jim, Jane, Mary)","AI, Python","AI, Systems","Database, Python",NaN,NaN,"Web, Systems",NaN
7,"(Peter, Jim, Jane, Bruce)","AI, Python","AI, Systems","Database, Python",NaN,NaN,NaN,"Systems, Python"
8,"(Peter, Jim, Jane, Anita)","AI, Python","AI, Systems","Database, Python",NaN,"AI, Web",NaN,NaN
9,"(Peter, Jane, Mary, Anita)","AI, Python",NaN,"Database, Python",NaN,"AI, Web","Web, Systems",NaN
10,"(Peter, Jane, Bruce, Anita)","AI, Python",NaN,"Database, Python",NaN,"AI, Web",NaN,"Systems, Python"
11,"(Juan, Jim, Jane, Mary)",NaN,"AI, Systems","Database, Python","AI, Web",NaN,"Web, Systems",NaN
12,"(Juan, Jim, Jane, Bruce)",NaN,"AI, Systems","Database, Python","AI, Web",NaN,NaN,"Systems, Python"
13,"(Juan, Jim, Jane, Anita)",NaN,"AI, Systems","Database, Python","AI, Web","AI, Web",NaN,NaN
14,"(Juan, Jane, Mary, Anita)",NaN,NaN,"Database, Python","AI, Web","AI, Web","Web, Systems",NaN
15,"(Juan, Jane, Bruce, Anita)",NaN,NaN,"Database, Python","AI, Web","AI, Web",NaN,"Systems, Python"
16,"(Jim, Jane, Mary, Anita)",NaN,"AI, Systems","Database, Python",NaN,"AI, Web","Web, Systems",NaN
17,"(Jim, Jane, Bruce, Anita)",NaN,"AI, Systems","Database, Python",NaN,"AI, Web",NaN,"Systems, Python"

## References
- Russell, S., & Norvig, P. (2010). Artificial Intelligence: A Modern Approach (3rd ed.). Prentice Hall. - This book provides foundational concepts on CSP and other AI methodologies.
- docs.python.org. (n.d.). itertools — Functions creating iterators for efficient looping — Python 3.9.1 documentation. [online] Available at: https://docs.python.org/3/library/itertools.html.